<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="isNew">New Nanodegree Creator</ion-title>
    <ion-title *ngIf="!isNew">Nanodegree Editor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="nanodegree">
    <app-nanodegree-graphic [nanodegree]="nanodegree"></app-nanodegree-graphic>

    <form (ngSubmit)="logForm()">
      <ion-item>
        <ion-label>Nanodegree Title</ion-label>
        <ion-input type="text" [(ngModel)]="nanodegree.title" name="title"></ion-input>
      </ion-item>

      <ion-item *ngFor="let Course of nanodegree.degree_path; let i = index;  trackBy: customTrackBy">
        <ion-label>Course Name</ion-label>
        <ion-input [(ngModel)]="nanodegree.degree_path[i].name" [name]="'Course Title'+i"></ion-input>

        <ion-label>Number of weeks</ion-label>
        <ion-input type="number" [(ngModel)]="nanodegree.degree_path[i].weeks" [name]="'Course weeks'+i"></ion-input>

        <ion-label>Difficulty</ion-label>
        <ion-input type="text" [(ngModel)]="nanodegree.degree_path[i].difficulty" [name]="'Course difficulty'+i"></ion-input>

        <ion-button (click)="removeCourse(i)" [disabled]="i==0 && nanodegree.degree_path.length==1">Remove</ion-button><br />
        <ion-button (click)="addCourse(i)" [disabled]="nanodegree.degree_path.length==5">ADD</ion-button><br />

      </ion-item>

      <ion-button 
        [disabled]="!auth.can('delete:nanodegrees')"
        (click)="deleteClicked()">Delete</ion-button><br />
      <ion-button (click)="closeModal()">Cancel</ion-button>
      <ion-button 
        [disabled]="!auth.can('patch:nanodegrees') || !auth.can('post:nanodegrees')"
        (click)="saveClicked()">Save</ion-button>

    </form>
</ion-content>